osx_image: xcode7.3
sudo: required
dist: trusty
language: c
matrix:
  include:
  - os: linux
    env: CC=clang CXX=clang++ npm_config_clang=1
    compiler: clang
  - os: osx
cache:
  directories:
  - node_modules
  - app/node_modules
  - "$HOME/.electron"
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.7
    packages:
    - libgnome-keyring-dev
    - icnsutils
    - clang-3.7
    - graphicsmagick
    - xz-utils
    - rpm
  artifacts:
    key: AKIAJHKSAQJJJJ6ERQTQ
    secret:
      secure: PfCz8i5WhaHB4WpwmqNqy1VYK5mSZEHLxqrDrcH0da0bNOhrv557CqgyFLktNXcn8smT7Hc17W1EJ+6ahFoBkXWm44CY5OyYCTvFYoNGCxEttmLJb5Uv+jq1j5J7osE+OmjHNYzrTSjJZ9w1GdBA7IA9sE7yJwjST/tMXHpCSePd6nL5pF5iXRA+SG/AfI99STWKI3D8jZH+rWrOUZCQJA9xJuvzQPYkQY+sJ7zetw979ID6EIHJEZV4UhudWJN2NcOfjAuzhk85XiVJnu7Y0E+HmIGOt5RE6clai/P7KTU6Gxhrf4/Nh7KVs/JyUl4uLteUT/s97A1jHEBvtXIg1HiXlxCNefDlOLhEFmnQVCyjMjbRjYkXBz0cBGjHW/I8cRud3Z1idoIg18pbUHcHlD1mjsGfbSwqB7s3N1S7xI/k24CYihvmcIiwI0w8WweRt6UEaFVW2iuvdiHdgcgziuY+Cucagmd4hSBHSpf7TLkrTWRBSRe+jMcko1x30NFoSupRZeYwmZdoRHLRgHXEkaO0jB5de0hX+aHs61l//J3QAhhdVbxMqWZDDhD4NyoPAouXlgo+pzCFlHgidTLsu1Q3QfXYfqkldmzE/0KJkFoJSYUD4lYaljmsUcem/I4FeAIxlsGBIcTtdep/713boqt9MArj6hf0wqtjmgSxvcM=
    bucket: tingbot-builds
    paths:
    - $(find dist -maxdepth 2 -and '(' -iname '*.zip' -or -iname '*.dmg' -or -iname '*.deb' -or -iname '*.rpm' ')' | tr "\n" ":")
before_install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install git-lfs; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then git lfs pull; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -L https://github.com/github/git-lfs/releases/download/v1.2.0/git-lfs-linux-amd64-1.2.0.tar.gz | tar -xz; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then git-lfs-1.2.0/git-lfs pull; fi
- curl https://bootstrap.pypa.io/get-pip.py | sudo python
install:
- nvm install 6
- npm install npm -g
- npm install electron-builder@next
- npm install
- npm prune
before_script:
  # Generate a virtual framebuffer X server to collect Electron windows
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start; fi

  # Wait for Xvfb to start
  - sleep 3
script:
- npm test
- npm run cibuild
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: "WXNvq5PPOLG7iY0B1pp0HgxDzHPBKoLpljggYlcLTJ/7yD7u0ftZIIXiTApucC1rxPdmL/3B/LBw2FNtSW3tecMjbKwhJ5rJfvvAWsMCT+FvO437vjETAfLuZIVkcWPWp9uJkwp5giKf42l41f1Qzxjo7BYx4UXMhkD5lfyCeyOIb67cdNjVr3/Tefg1WeB+MZsuTMRA+LsRbkxEy+h3ZR9bTQNSm58ZMYj616Ol8wla5zOZ2wR5aR8UcHAkVX5tXNkzXpTRGYyLPF1oPSltUlNKKv04JW7o95bAo/9wjg3Ybmd4q91izP4xrbG1e/Kj97Kmu7NQVE31GZxdDHafFBVda6RplOussi+lZdyuR5o+L5lwEWBWNDY7SCCOl24Y1jvHWgGeIiR9h73Gp2lD3kEWwLgRniQQk2NXfQGLGG5EmtjKexMuceXFjl/dtyYnAE6sn+iUDaOUnMv51cl3ayIw3BtaiSyUU/xL/GC5VTWcY/y3ZLvqScfYS3s5JEGtUDlg8SLbsD54/PTWPaSua70JTgDVuh5dIa0cjt8Se//HPa1SXVo9OS3seuDcadYNd0A5hTtlrUJXf2i2p/geHeP69Io0ks5La0sWfdTt8Foz3JLD4uPwmMsjFU0jjOOlfOGuaDZmJYWq7vRKJXlO7qI/zpZFyp5ZaQcu0JQBYAw="
  file_glob: true
  file:
  - dist/mac/*.zip
  - dist/mac/*.dmg
  - dist/*.deb
  - dist/*.rpm
  prerelease: true  # releases created by travis are created as prerelease and are manually approved
  on:
    repo: tingbot/tide-electron
    tags: true
